
:root {
	--background: #000;
	--f_high: #fff;
	--f_med: #f0f0f0;
	--f_low: #e6e6e6;
	--f_inv: #000;
	--b_high: #000;
	--b_med: #010101;
	--b_low: #020202;
	--b_inv: #fff;
}

body {
	margin:0;
	overflow: hidden;
	font-family: monospace;
	font-size: 14px;
	background: var(--background);
	color: var(--f_med);
}

body > header {
	display: none;
}

body > footer {
	display: none;
}

////////////////////////////////////////////////////////////////////////////////

#youtube-player {
	position: fixed;
	object-fit: cover;
	object-position: 50% 20%;
	pointer-events: none;
}

#youtube-player.show {
	opacity: 1;
}

////////////////////////////////////////////////////////////////////////////////

#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: var(--background);;
	transition: opacity 0.2s;
	&.active {
		opacity: 0.6;
	}
	&.hidden {
		opacity: 0.7;
	}
}

////////////////////////////////////////////////////////////////////////////////

#start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10000;
	cursor: pointer;
	user-select: none;
}

////////////////////////////////////////////////////////////////////////////////

#controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1000;
	display: none;
	&.active {
		display: block;
	}
}

@slider-track-height: 12px;
@slider-thumb-size: 24px;

input[type=range] {
	appearance: none;
	-webkit-appearance: none;
	background: var(--background);
	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
		appearance: none;
		-webkit-appearance: none;
		height: 10px;
		background: var(--background);
		border-top: 4px solid var(--f_med);
	}
	&::-moz-range-track {
		appearance: none;
		background: var(--f_med);
		border: none;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		-webkit-appearance: none;
		position: relative;
		top: -@slider-thumb-size/2;
		width: @slider-thumb-size;
	    height: @slider-thumb-size;
		background: var(--f_med);
		border-radius: @slider-thumb-size/2;
		cursor: pointer;
		transition: transform 0.2s, background 0.2s;
		&:hover {
			transform: scale(1.1);
			background: var(--f_high);
		}
	}
	&::-moz-range-thumb {
		appearance: none;
		-webkit-appearance: none;
		position: relative;
		top: -@slider-thumb-size/2;
		width: @slider-thumb-size;
	    height: @slider-thumb-size;
		background: var(--f_med);
		border-radius: @slider-thumb-size/2;
		border: none;
		cursor: pointer;
		transition: transform 0.1s, background 0.2s;
		&:hover {
			transform: scale(1.1);
			background: var(--f_high);
		}
	}
}
////////////////////////////////////////////////////////////////////////////////

.start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10000;
	user-select: none;
	cursor: pointer;
	color: var(--f_med);
}

////////////////////////////////////////////////////////////////////////////////

@keyframes square-spin {
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10000;
	display: none;
	&.active {
		//opacity: 1;
		display: block;
	}
	div {
		width: 48px;
		height: 48px;
		background: var(--f_med);
		animation: square-spin 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;

	}
}
